<form action="/google/login" method = "post">
  <a href="{{ authUrl }}" target="_blank">Google Auth</a>
  <input type="text" name="code" id="code" placeholder="Please enter code...">
  <button type="submit">Submit</button>
</form>
