<form action="/google/login" method = "post">
  <ol>
    <li>

      <a href="{{ authUrl }}" target="_blank">Google Auth</a>

    </li>
    <li>

      <input type="text" name="code" id="code" placeholder="Please enter code...">

    </li>
    <li>

      <button type="submit">Submit</button>

    </li>
  </ol>
</form>
